language: python
python:
- 3.5
- 3.6
- 3.7
- 3.8
- 3.9-dev
before_install:
- pip install "pytest>=3.6"
- pip install pytest-cov
- pip install coveralls
script:
- pytest
after_success:
- coveralls
deploy:
  provider: pypi
  user: __token__
  on:
    tags: true
    python: 3.8
  password:
    secure: jqIFRDOjIaOBjp86xK7RUx3W70niDE7ZiSHhZn2HfpjUp1SSsbN4Rw72l78wtWQkuzgKLoE4iGn1UVmEe441G/m2jM/w/JwZNZPtZ1G7zg3NwUDbvjr9Roo+vVtuwM5AzAsi8YzrjekwzP5xZ+FksHdciroQPg1X1jXl/4lG2qzkC3qW/sEfnFxkK5huzS+MJlKQlFdyY/kFZV4PjuSXFnmytFT0yd0V1VfxkU3F+jS0mPTvxr9YA7VaeDi4ncqFDiOsCgYwLikHP2VyS2Dm3jPJmkfPzYYsg6JBGszfeBAZZWoid8OhvGXfvQV148KC4zp0QNkOhTlp+EBKys8KZdt7AUGNxhqPJyklRRKotycCK00X1R4TDJLtgdZqUfHcQfXfj6ejm/9LvXUPjkFcj193zJx0bd4SZSpyXo0dOOl7FFuHieWXJTNJDfcVBPeeDUwIcPc7QV0tld/PolcjcnALtH03aQYFrBLyf+XyVKzNpPOYzwJCjD0x/dbVD6vDqxVb4tijWORBZ2cQkTaIUQmdcghnoVazL8s+Jgolh13pnlUzMduDDWRD1EKE48VU671NtwWXqQLpgcwOcUs++3G7PXJBRSRl4ybL0jvDHuC0zB/rD7QaDj0lkv2bGkz+Nyz//KErRmFj6JfhFQ51Aw7dGohwA6YBQxloCSWAKlo=
